{% extends 'layoutmedecin.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Ajouter Creneau</h1>
        <br><br>
        {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>

            {% endfor %}
        {% endblock %}

        <form class="row" method="post">
            <div class="col-md-12 col-lg-8 col-lg-offset-2">
                <input type="text" id="inputStandard" name="heuredebut" class="form-control" placeholder="Entrer l'heure de debut">
            </div>
            <br><br>
            <br>
            <div class="col-md-12 col-lg-8 col-lg-offset-2">
                <input type="text" id="inputStandard" name="heurefin" class="form-control" placeholder="Entrer l'heure de fin">
            </div>
            <br><br>
            <br>

            <div class="col-md-12 col-lg-8 col-lg-offset-2">
                <select class="form-control" name="un">
                    <option value="">Date creneau</option>
                    {% for creneauitem in listecreneauitem %}

                        <option value="{{creneauitem.id}}">{{creneauitem.datecreneau | date}}</option>
                    {% endfor %}

                </select>

            </div><br><br><br>
            <div class="col-md-12 col-lg-8 col-lg-offset-4">
                <br><input type="submit" class="col-lg-6 btn medilife-btn btn-primary" value="Modifier" name="MOdifier">
            </div>
        </form>
    </div>
{% endblock %}