{% extends 'layoutadmin.html.twig' %}

{% block content %}
         <style>
body
{
    background-size:cover;
    background-repeat:no-repeat;
    
}
hr{
    margin-left:20%;
    margin-right:20%;
    color:blue;
}
h2{
    text-align:center;
}
input{
    border:none;
    outline:none;
    background:blue;
    border-bottom: solid 1px blue;
    color:black;
}
button{
    border:none;
    font-size:20px;
    border-radius:5px;
    color:black;
}
.form5{
    width:750px;
    background:white;
    padding:30px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px; 
}
.form5 label{
    color:blue;
    font-size:20px bold;
}
.form5 input{
    background:none;
    border:none;
    outline:none;
    border-bottom: solid 1px blue;
    color:blue;
    width:100%;
}
h2{
    text-align:center;
    color:blue;
}



        </style>     <div class="container container1 row">
        <div class="form5">
        <h2>Incription</h2>
        <hr>
        <div class=" col-lg-6">
  {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}
        </div>

            {{form(form)}}
        </div>
        </div>
{% endblock %}
