{% extends 'base.html.twig' %}

{% block body %}
         <style>
.container1
{
    background-image:url('img/img/r.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position-y:-750px;
    width:50%;
    margin:auto;
    padding-top:190px;
    padding-bottom:190px;
}
hr{
    margin-left:20%;
    margin-right:20%;
    color:white;
}
h2{
    text-align:center;
}
input{
    border:none;
    outline:none;
    background:white;
    border-bottom: solid 1px white;
    color:black;
}
button{
    border:none;
   height:38px;
    font-size:20px;
    margin:10px;
    border-radius:5px;
    
    color:white;
}


        </style>     <div class="container container1 row">
        <h2>Incription</h2>
        <hr>
        
  {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}

            {{form(form)}}
        </div>
{% endblock %}
