{% extends 'layoutadmin.html.twig' %}


    {% block content %}
    <div>
   {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
                
            {% endfor %}
        {% endblock %}

  <table class="table table-striped table-hover" id="datatable3" cellspacing="0" width="100%">
                    <thead>
<tr>

<th>Adresse</th>
<th>Telephone</th>
<th>Patient</th>
<th>Motif</th>
<th>Etat</th>
<th>Actions</th>

</tr>
</thead><tbody>

{% for hads in Had %}
<tr>
 <td>{{ hads.adresse }}</td>
<td>{{ hads.Tel }}</td>
<td>{{ hads.patient.nomcomplet }}</td>

<td>{{ hads.motif }}</td>
<td>{{ hads.etat ? 'Validé' : 'Non Validé' }}</td>

<td>
 <a href="{{ path('validerhad', {'id' : hads.id }) }}" class="btn btn-rounded btn-success btn-small">Valider</a>

<a href="{{ path('editHad', {'id' : hads.id }) }}" class="btn btn-rounded btn-primary btn-small">Editer</a>
<a href="{{ path('delete', {'id' : hads.id }) }}" class="btn btn-rounded btn-danger btn-small">Suprimer</a>
</td>
</tr>
{% endfor %}
</tbody> 



</table>
  </div>
{% endblock %}