{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
  <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/breadcumb2.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Mes demandes</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
                    <div class="medilife-tabs-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="institution-tab" data-toggle="tab" href="#institution" role="tab" aria-controls="institution" aria-selected="false">Rendez-vous</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">Hospitalisation à domicile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="specialities-tab" data-toggle="tab" href="#specialities" role="tab" aria-controls="specialities" aria-selected="true">Livraison de médicaments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="laboratory-tab" data-toggle="tab" href="#laboratory" role="tab" aria-controls="laboratory" aria-selected="false">Vehicules sanitaires léger</a>
                            </li>
                                                   </ul>

                        <div class="tab-content mb-100" id="myTabContent">
                            <div class="tab-pane fade" id="institution" role="tabpanel" aria-labelledby="institution-tab">
                                <div class="medilife-tab-content d-md-flex align-items-center">
                                   <table class="table table-striped">
    <thead>
      <tr>
        <th>#id</th>
        <th>Médecin</th>
        <th>Motif</th>
        <th>Date de demande</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
    {% for item in listerdv %}
         <tr>
        <td>{{item.id}}</td>
        <td>{{item.medecin.nomcomplet}}</td>
        <td>{{item.motif}}</td>
        <td>{{item.datedemande | date('d-m-Y H:m')}}</td>
<td>{{ item.etat ? 'Validé' : 'Non Validé' }}</td>
        <td>
        <a href="" class="btn btn-rounded btn-danger btn-small">Annuler</a>

        </td>
      </tr>
      {% else %}
      
      <tr><td colspan="5">Pas de demandes de rendez-vous</td>
      </tr>
    {% endfor %}
     


         </tbody>
  </table>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                                <div class="medilife-tab-content d-md-flex align-items-center">
                                      <table class="table table-striped">
    <thead>
      <tr>
        <th>#id</th>
        <th>Motif</th>
        <th>Date de demande</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
    {% for item in listehad %}
        <tr>
        <td>{{item.id}}</td>
        <td>{{item.motif}}</td>
        <td>{{item.datedemande | date('d-m-Y H:m')}}</td>
<td>{{ item.etat ? 'Validé' : 'Non Validé' }}</td>
        <td>
        <a href="{{ path('delete', {'id' : item.id }) }}" class="btn btn-rounded btn-danger btn-small">Annuler</a>

        </td>
      </tr>
      {% else %}
          <tr><td colspan="5">Pas de demandes de had</td></tr>

    {% endfor %}
     


         </tbody>
  </table>

                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="specialities" role="tabpanel" aria-labelledby="specialities-tab">
                                <div class="medilife-tab-content d-md-flex align-items-center">
                                                                          <table class="table table-striped">
    <thead>
      <tr>
        <th>#id</th>
        <th>Date de demande</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
    {% for item in listelivraison %}
        <tr>
        <td>{{item.id}}</td>
        <td>{{item.datedemande | date('d-m-Y H:m')}}</td>
<td>{{ item.etat ? 'Validé' : 'Non Validé' }}</td>
        <td>
        <a href="{{ path('deletelivraison', {'id' : item.id }) }}" class="btn btn-rounded btn-danger btn-small">Annuler</a>
        </td>
      </tr>
      {% else %}
    <tr><td colspan="5">Pas de demandes de livraison</td></tr>

    {% endfor %}
         </tbody>
  </table>

  
                                </div>
                            </div>
                            <div class="tab-pane fade" id="laboratory" role="tabpanel" aria-labelledby="laboratory-tab">
                                <div class="medilife-tab-content d-md-flex align-items-center">
                                                                                                    <table class="table table-striped">
    <thead>
      <tr>
        <th>#id</th>
        <th>Motif</th>
        <th>Date de demande</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
    {% for item in listevsl %}
        <tr>
        <td>{{item.id}}</td>
        <td>{{item.motif}}</td>
        <td>{{item.datedemande | date('d-m-Y H:m')}}</td>
       <td>{{ item.etat ? 'Validé' : 'Non Validé' }}</td>
        <td>
        <a href="{{ path('deletevsl', {'id' : item.id }) }}" class="btn btn-rounded btn-danger btn-small">Annuler</a>
        </td>
      </tr>
      {% else %}
      <tr><td colspan="5">Pas de demandes de vsl</td></tr>
    {% endfor %}
         </tbody>
  </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
{% endblock %}
