<!DOCTYPE html>
<html>

    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <title>AdminDesigns - A Responsive HTML5 Admin UI Framework</title>
        <meta name="keywords" content="HTML5 Bootstrap 3 Admin Template UI Theme"/>
        <meta name="description" content="AdminDesigns - A Responsive HTML5 Admin UI Framework">
        <meta name="author" content="AdminDesigns">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Font CSS (Via CDN) -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{{asset('style.css')}}">

        <!-- Theme CSS -->

        <!-- Admin Forms CSS -->
        <link rel="stylesheet" type="text/css" href="{{asset('assets/admin-tools/admin-forms/css/admin-forms.css')}}">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{asset('assets/img/favicon.ico')}}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> <![endif]-->

    </head>

    <body class="admin-wizard-page">
        <!-- Preloader -->
        <div id="preloader">
            <div class="medilife-load"></div>
        </div>
  <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="h-100 d-md-flex justify-content-between align-items-center">
                            <p>Bienvenue dans <span>HelloDocteur</span></p>
                            <p>Ouvert du : Lundi au Vendredi  - 8am a 10pm Contact : <span>+221772688933</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="#"><img src="../img/img/logo.png" alt="Logo"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="collapse navbar-collapse" id="medilifeMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/accueil">Accueil <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/accueil#propos">A Propos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/annulaire">Annuaire</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/contact">Contact</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/medecin">Vous étes médecin?</a>
                                        </li>
                                        
                                        
                                        {% if is_granted('ROLE_PATIENT') %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.nomcomplet}}</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#">Mes demandes </a>
                                                <a class="dropdown-item" href="/logout">Deconnexion</a>
                                            </div>
                                        </li>
                                        {% else %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon Espace</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="/patient">Connexion</a>
                                                <a class="dropdown-item" href="/register/patient">Inscription</a>
                                                
                                            </div>
                                        </li>
                                        {% endif %}
                                        
                                    </ul>
                                    <!-- Appointment Button -->
                                    <!--<a href="#" class="btn medilife-appoint-btn ml-30">For <span>emergencies</span> Click here</a>-->
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="mw1000 center-block">

            <!-- Wizard Menubar -->
            <div class="panel">

                <!-- Form Wizard -->
                <div class="admin-form">
  {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}
                    <form method="post" id="form-wizard">
                        <div class="wizard steps-bg steps-justified">

                            <!-- Wizard step 1 -->
                            <h4 class="wizard-section-title">
                                <i class="fa fa-user pr5"></i>
                                Choix du motif</h4>
                            <section class="wizard-section">
                                <style>
                                    .titre {
                                        color: blue;
                                    }
                                </style>
                                <div class="section card" style="padding:30px;font-size:18px;border-radius:15px;width:50%;margin:auto;">
                                    <ul>
                                        <li>
                                            <strong class="titre">Médecin</strong>
                                            <br>
                                            <span>{{medecin.nomcomplet}}</span>
                                            <hr>
                                        </li>

                                        <li>
                                            <strong class="titre">Lieu de consultation</strong>
                                            <br>
                                            <span>Quartier:{{medecin.quartier.libelle}}</span><br>
                                            <span>Adresse:{{medecin.adresse}}</span>
                                            <hr>
                                        </li>
                                        <li>
                                            <strong class="titre">Spécialité</strong>
                                            <br>
                                            <span>{{medecin.Specialite.libelle}}</span>
                                            <hr>
                                        </li>
                                        <li>
                                            <h6 class="titre">Motif de consultation</h6>
                                            <br>
                        <div class="section">
                                            <select class="form-control" id="speciality" name="motif" style="height:150px;display:block;flex-direction:column;">
                                                <option>Motif de consultation</option><br><br><br>
                                                <option value="Consultation de médecine générale">Consultation de médecine générale</option><br><br><br>
                                                <option value="Première consultation de médecine générale">Première consultation de médecine générale</option><br>
                                                <option value="Certificat médical">Certificat médical</option><br>
                                                <option value="Renouvellement de traitement">Renouvellement de traitement</option><br>
                                                <option value="Consultation de gynécologie médicale">Consultation de gynécologie médicale</option><br>
                                            </select>
</div>
                                            {#  <div class="col-md-4">
                        <div class="section">
                          <label class="field select">
                            <select id="selectID" name="selectID" disabled>
                              <option value="">Select with double arrows</option>
                              <option value="1">Option 1</option>
                              <option value="2">Option 2</option>
                            </select>
                            <i class="arrow double"></i>
                          </label>
                        </div>
                      </div>
 #}
                                        </li>
                                    </ul>

                                </div>
                                <!-- end section -->

                            </section>

                          
                            <!-- Wizard step 3 -->
                            <h4 class="wizard-section-title">
                                <i class="fa fa-dollar pr5"></i>
                                Verification</h4>
                            <section class="wizard-section">

                                <div class="section">
                                    <label for="firstname" class="field prepend-icon">
                                        <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="First name...">
                                        <label for="firstname" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>
                                <!-- end section -->

                                <div class="section">
                                    <label for="lastname" class="field prepend-icon">
                                        <input type="text" name="lastname" id="lastname" class="gui-input" placeholder="Last name...">
                                        <label for="lastname" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>
                                <!-- end section -->

                            </section>
                            <!-- Wizard step 3 -->
                            <h4 class="wizard-section-title">
                                <i class="fa fa-shopping-cart pr5"></i>Confirmation</h4>
                            <section class="wizard-section">
<h2>Finalisez votre rendez-vous</h2>
<hr>
<div class="col-12">

<h4 class="col-lg-6 col-md-6">
Date rendez-vous:{{creneau.creneauitem.datecreneau | date("d-m-Y")}}
</h4>
<h4 class="col-lg-6 col-md-6">
heure rendez-vous:{{creneau.heuredebut}} 
{{creneau.heurefin}}

</h4>
</div><br><br><br>
<div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <input type="submit" style="margin-top:-40px;" class="btn medilife-btn" value="Valider mon rendez-vous" name="valider">
                                                </div>
                                            </div>
                            </section>
                        </div>
                        <!-- End: Wizard -->

                    </form>
                    <!-- End Account2 Form -->

                </div>
                <!-- end: .admin-form -->

            </div>

            <!-- ***** Footer Area Start ***** -->
            <footer class="footer-area section-padding-100">
                <!-- Main Footer Area -->
                <div class="main-footer-area">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="footer-widget-area">
                                    <div class="footer-logo">
                                        <img src="img/img/logo.png" alt="">
                                    </div>
                                    <p>Hello Doctor est une startup de conciergerie médicale offrant une large gamme de services.</p>
                                    <div class="footer-social-info">
                                        <a href="#">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="footer-widget-area">
                                    <div class="widget-title">
                                        <h6>Contact Form</h6>
                                    </div>
                                    <div class="footer-contact-form">
                                        <form action="#" method="post">
                                            <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="footer-name" id="footer-name" placeholder="Name">
                                            <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="footer-email" id="footer-email" placeholder="Email">
                                            <textarea name="message" class="form-control border-top-0 border-right-0 border-left-0" id="footerMessage" placeholder="Message"></textarea>
                                            <input type="submit" class="btn medilife-btn" name="contact" value="Envoyez">
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="footer-widget-area">
                                    <div class="widget-title">
                                        <h6>News Letter</h6>
                                    </div>

                                    <div class="footer-newsletter-area">
                                        <form action="#" method="post">
                                            <input type="email" class="form-control border-0 mb-0" name="newsletterEmail" id="newsletterEmail" placeholder="Your Email Here">
                                            <button type="submit" name="Sinscrire">S'inscrire</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bottom Footer Area -->
                <div class="bottom-footer-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="bottom-footer-content">
                                    <!-- Copywrite Text -->
                                    <div class="copywrite-text">
                                        <p>
                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                            Copyright &copy;<script>
                                                document.write(new Date().getFullYear());
                                            </script>
                                            All rights reserved |
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            by
                                            <a href="http://yenni.org" target="_blank">YENNI</a>
                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- ***** Footer Area End ***** -->

            <style>
                /*page demo styles*/
                .wizard .steps .fa,
                .wizard .steps .glyphicon,
                .wizard .steps .glyphicon {
                    display: none;
                }
            </style>

            <!-- BEGIN: PAGE SCRIPTS -->

            <!-- jQuery (Necessary for All JavaScript Plugins) -->
            <script src="{{asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
            <!-- Popper js -->
            <script src="{{asset('js/popper.min.js')}}"></script>
            <!-- Bootstrap js -->
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
            <!-- Plugins js -->
            <script src="{{asset('js/plugins.js')}}"></script>
            <!-- Active js -->
            <script src="{{asset('js/active.js')}}"></script>

            <!-- Page Plugins -->
            <script src="{{asset('assets/admin-tools/admin-forms/js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('assets/admin-tools/admin-forms/js/jquery.steps.min.js')}}"></script>

            <!-- Theme Javascript -->
            <script src="{{asset('assets/js/utility/utility.js')}}"></script>
            <script src="{{asset('assets/js/demo/demo.js')}}"></script>
            <script src="{{asset('assets/js/main.js')}}"></script>
            <script type="text/javascript">
                jQuery(document).ready(function () {

                    "use strict";

                    // Init Theme Core
                    Core.init();

                    // Init Demo JS
                    Demo.init();

                    // Form Wizard
                    var form = $("#form-wizard");
                    form.validate({
                        errorPlacement: function errorPlacement(error, element) {
                            element.before(error);
                        },
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }
                    });
                    form.children(".wizard").steps({
                        headerTag: ".wizard-section-title",
                        bodyTag: ".wizard-section",
                        onStepChanging: function (event, currentIndex, newIndex) {
                            form.validate().settings.ignore = ":disabled,:hidden";
                            return form.valid();
                        },
                        onFinishing: function (event, currentIndex) {
                            form.validate().settings.ignore = ":disabled";
                            return form.valid();
                        },
                        onFinished: function (event, currentIndex) {
                            alert("Submitted!");
                        }
                    });

                    // Demo Wizard Functionality
                    var formWizard = $('.wizard');
                    var formSteps = formWizard.find('.steps');

                    $('.wizard-options .holder-style').on('click', function (e) {
                        e.preventDefault();

                        var stepStyle = $(this).data('steps-style');

                        var stepRight = $('.holder-style[data-steps-style="steps-right"]');
                        var stepLeft = $('.holder-style[data-steps-style="steps-left"]');
                        var stepJustified = $('.holder-style[data-steps-style="steps-justified"]');

                        if (stepStyle === "steps-left") {
                            stepRight.removeClass('holder-active');
                            stepJustified.removeClass('holder-active');
                            formWizard.removeClass('steps-right steps-justified');
                        }
                        if (stepStyle === "steps-right") {
                            stepLeft.removeClass('holder-active');
                            stepJustified.removeClass('holder-active');
                            formWizard.removeClass('steps-left steps-justified');
                        }
                        if (stepStyle === "steps-justified") {
                            stepLeft.removeClass('holder-active');
                            stepRight.removeClass('holder-active');
                            formWizard.removeClass('steps-left steps-right');
                        }

                        // Assign new style
                        if ($(this).hasClass('holder-active')) {
                            formWizard.removeClass(stepStyle);
                        } else {
                            formWizard.addClass(stepStyle);
                        }

                        // Assign new active holder
                        $(this).toggleClass('holder-active');
                    });

                });
            </script>
            <!-- END: PAGE SCRIPTS -->

        </body>

    </html>